body{
  background-color:  rgb(223, 242, 245);
}

* {
  box-sizing: border-box;
}

/*Sidebartop-container*/
.sidebartop-container{
  display:flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
  flex-wrap: wrap;
  
}


.item11{
  
  background-color:red; 
 border-radius: 10%;
  flex:0 19%;
  margin: 5px;
 

}

#item11{
 
 
 text-align: center;
 background:red;
 padding-left: 4px;

}

.item11:hover{
  animation-name: red-to-blue;
  animation-duration: 2s;
}


@keyframes red-to-blue{
  from{background:red;color:white}
  to{background-color: red;color:rgb(49, 16, 236);}
}



@media (max-width: 800px) {
  .sidebartop-container {
    flex-direction: column;
    
  }
}

/*sidebartop-container2*/

.sidebartop-container2 {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
}

.item2{
  background-color: red;
  padding-bottom:25px; 
  padding-top: 25px;
  flex: 10%;
  margin: 5px;
  border-radius:10%;
  
}

.item2:hover{
  animation-name: red-to-blue;
  animation-duration: 2s;
}


/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .sidebartop-container2 {
    flex-direction: column;
   
    
  }
}




/*content*/

.content{
   display:flex;
   flex-wrap: wrap;
   flex-direction: row;
  
   
  
}

/*sidebarleft*/

.sidebarleft{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:25%; 
   
    
}
.item3{
    border:1px solid black;
    padding: 0em;
    margin: 10px;   
}

.imagecontainer{
 margin: 10px;
}


h1, h2{
    color: rgb(243, 13, 13);
}








/*navbar that when i click it dops down*/
.dropdown-btn , a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.5em;
  color:  black;

  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: rgb(93, 190, 247);

}


a:hover , .dropdown-btn:hover {
    color: #1f1e1e;
  }

  .active {
    background-color: rgb(82, 19, 230);
    color: white;
  }



  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }

  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }



  .start-btn{
    background: rgb(159, 192, 11);
    color: rgb(255,255,255);
    padding: 10px;
    width: 80px;
    height:50px;
    font-weight: 700;
    font-size: 20px;
  }